fastapi
uvicorn
futu-api
sqlalchemy
psycopg2-binary
apscheduler
httpx
beautifulsoup4
python-dotenv
pydantic
pydantic-settings
loguru
yfinance
feedparser
requests
pandas
pandas-market-calendars==5.4.0
pandas_ta
scipy
numpy
vaderSentiment
vectorbt
torch
xgboost
scikit-learn
pytest
pytest-mock
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.1
